.dp-link {
  cursor: pointer;
}
.dp-inline-block {
  display: inline-block;
}

.dp-dropdown {
  cursor: pointer;
}
.dp-dropdown-icon {
  mask-position: 2px 2px;
  display: inline-block;
  padding: 0 3px;
}

